<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/fletes"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ 'AIR.title' | translate }} 
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" enctype="multipart/form-data">
        <div id="administrador" class="container-fluid">

            <div class="row-fluid">
                <div class="col-xs-12 col-sm-12 col-md-12"><br>
                    <h4 style="background: #d6d6d6;padding: 9px 12px; margin-top: 30px; text-align:center;">
                        <strong>{{ 'AIR.sub_title' | translate }} </strong></h4><br>
                    <h4 style="background: #d6d6d6;padding: 9px 12px; margin-top: 30px;"><strong>{{ 'AIR.shipper_info' | translate }}</strong></h4><br>
                    <ion-input name="id_cliente" value="1" type="hidden"></ion-input>
                    <ion-input name="servicio" value="air" type="hidden"></ion-input>
                    <ion-input name="opcion_metodo" value="1" type="hidden"></ion-input>
                    <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.company' | translate }}</label>
                        <ion-input class="form-control" required="" ngModel name="empresa" type="text"></ion-input>
                    </div>
                    <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.contact' | translate }}</label>
                        <ion-input class="form-control" required="" ngModel name="contacto" type="text"></ion-input>
                    </div>
                    <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.phone' | translate }}</label>
                        <ion-input class="form-control" ngModel name="tel" type="text" minlength="7" required="">
                        </ion-input>
                    </div>
                    <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.mail' | translate }}</label>
                        <ion-input class="form-control" required="" ngModel name="correo" type="email"></ion-input>
                    </div>
                    <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.country' | translate }}</label>
                        <ion-select placeholder="Seleccionar" class="form-control" ngModel name="pais"
                            required="required">
                            <ion-select-option value="Argentina">Argentina</ion-select-option>
                            <ion-select-option value="Bélgica">Bélgica</ion-select-option>
                            <ion-select-option value="Belice">Belice</ion-select-option>
                            <ion-select-option value="Bolivia">Bolivia</ion-select-option>
                            <ion-select-option value="Brasil">Brasil</ion-select-option>
                            <ion-select-option value="Canadá">Canadá</ion-select-option>
                            <ion-select-option value="Chile">Chile</ion-select-option>
                            <ion-select-option value="China">China</ion-select-option>
                            <ion-select-option value="Colombia">Colombia</ion-select-option>
                            <ion-select-option value="Costa Rica">Costa Rica</ion-select-option>
                            <ion-select-option value="Cuba">Cuba</ion-select-option>
                            <ion-select-option value="Dominica">Dominica</ion-select-option>
                            <ion-select-option value="Ecuador">Ecuador</ion-select-option>
                            <ion-select-option value="El Salvador">El Salvador</ion-select-option>
                            <ion-select-option value="Estados Unidos">Estados Unidos</ion-select-option>
                            <ion-select-option value="Estados Unidos">Estados Unidos</ion-select-option>
                            <ion-select-option value="Francia">Francia</ion-select-option>
                            <ion-select-option value="Guatemala">Guatemala</ion-select-option>
                            <ion-select-option value="Guyana">Guyana</ion-select-option>
                            <ion-select-option value="Haití">Haití</ion-select-option>
                            <ion-select-option value="Honduras">Honduras</ion-select-option>
                            <ion-select-option value="Italia">Italia</ion-select-option>
                            <ion-select-option value="Jamaica">Jamaica</ion-select-option>
                            <ion-select-option value="Japón">Japón</ion-select-option>
                            <ion-select-option value="México">México</ion-select-option>
                            <ion-select-option value="Nicaragua">Nicaragua</ion-select-option>
                            <ion-select-option value="Panamá">Panamá</ion-select-option>
                            <ion-select-option value="Paraguay">Paraguay</ion-select-option>
                            <ion-select-option value="Perú">Perú</ion-select-option>
                            <ion-select-option value="Puerto Rico">Puerto Rico</ion-select-option>
                            <ion-select-option value="Reino Unido">Reino Unido</ion-select-option>
                            <ion-select-option value="República Dominicana">República Dominicana</ion-select-option>
                            <ion-select-option value="Surinam">Surinam</ion-select-option>
                            <ion-select-option value="Trinidad y Tobago">Trinidad y Tobago</ion-select-option>
                            <ion-select-option value="Uruguay">Uruguay</ion-select-option>
                            <ion-select-option value="Venezuela">Venezuela</ion-select-option>
                        </ion-select>
                    </div>

                    <div class="row-fluid">
                        <div class="col-xs-12 col-sm-12 col-md-12"><br>
                            <h4 style="background: #d6d6d6;padding: 9px 12px; margin-top: 30px;"><strong>{{ 'AIR.cargo_recepcion' | translate }}</strong></h4><br>

                            <div class="col-xs-12 col-sm-12 col-md-12"><label>{{ 'AIR.address_recepcion' | translate }}
                                </label>
                                <ion-textarea rows="4" ngModel name="id_region_origen" class="form-control">
                                </ion-textarea>
                            </div><br>
                            <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.country_recepcion' | translate }}</label><ion-list>
                                <ion-item>
                                  
                                  <ion-select placeholder="Seleccionar" class="form-control" ngModel name="id_pais_origen"
                                    required="required">
                                    <ion-select-option *ngFor="let item of paises" value="{{item.id_pais}}">{{item.pais}}</ion-select-option>
                                </ion-select>
                                </ion-item>   
                              </ion-list></div>
                            <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.city_recepcion' | translate }}</label>
                                <ion-input class="form-control" required="" ngModel name="ciudad_orig" type="text">
                                </ion-input>
                            </div>
                            <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.cbx_recepcion' | translate }}</label>
                                <ion-select class="form-control" ngModel name="recepcion">
                                    <ion-select-option value="Bodega / Warehouse">{{ 'AIR.warehouse' | translate }}</ion-select-option>
                                    <ion-select-option value="Aeropuerto / Airport">{{ 'AIR.airport' | translate }}</ion-select-option>
                                </ion-select>
                            </div>
                            <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.departure_date' | translate }}</label>
                                <ion-datetime displayFormat="DD MM YYYY" ngModel name="fecha_salida" placeholder="Fecha Salida"></ion-datetime>

                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="col-xs-12 col-sm-12 col-md-12"><br>
                            <h4 style="background: #d6d6d6;padding: 9px 12px; margin-top: 30px;"><strong>{{ 'AIR.destination_info' | translate }}</strong></h4><br>
                            <div class="col-xs-12 col-sm-12 col-md-12"><label>{{ 'AIR.destination_address' | translate }}
                                </label><textarea rows="3" ngModel name="id_region_destino" class="form-control"
                                    required=""></textarea></div><br>

                                    <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.country_destination' | translate }}</label><ion-list>
                                        <ion-item>
                                          
                                          <ion-select placeholder="Seleccionar" class="form-control" ngModel name="id_pais_dest"
                                            required="required">
                                            <ion-select-option *ngFor="let item of paisesDestino" value="{{item.id_pais}}">{{item.pais}}</ion-select-option>
                                         </ion-select>
                                        </ion-item>   
                                      </ion-list></div>
                            <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.place_destination' | translate }}</label>
                                <ion-input class="form-control" required="" ngModel name="ciudad_dest" type="text">
                                </ion-input>
                            </div>
                            <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.arrival_date' | translate }}</label>
                                <ion-datetime displayFormat="DD MM YYYY" ngModel name="fecha_llegada" placeholder="Fecha Llegada"></ion-datetime> 

                            </div>

                            <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.cbx_delivery' | translate }}</label>
                                <ion-select class="form-control" ngModel name="entrega">
                                    <ion-select-option value="Bodega / Warehouse">{{ 'AIR.warehouse' | translate }}</ion-select-option>
                                    <ion-select-option value="Aeropuerto / Airport">{{ 'AIR.airport' | translate }}</ion-select-option>
                                </ion-select>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="col-xs-12 col-sm-12 col-md-12"><br>
                            <h4 style="background: #d6d6d6;padding: 9px 12px; margin-top: 30px;"><strong>{{ 'AIR.logistic_services' | translate }}</strong></h4><br>
                            <div class="col-xs-12 col-sm-4"><label class="checkbox-inline">
                                <ion-item>
                                        <ion-label>{{ 'AIR.insurrance' | translate }}</ion-label>
                                        <ion-checkbox color="dark" [(ngModel)]="checks[0].isChecked" name="serv_seguro" value="Seguro / Issurance">
                                        </ion-checkbox>
                                </ion-item>
                                   
                            </label></div>
                            <div class="col-xs-12 col-sm-4"><label class="checkbox-inline">
                                <ion-item>
                                        <ion-label> {{ 'AIR.bonded_warehouse' | translate }}</ion-label>
                                        <ion-checkbox color="dark" [(ngModel)]="checks[1].isChecked" name="serv_bonded" value="Bodega Aduanera / Bonded Warehouse">
                                                </ion-checkbox>
                                </ion-item>
                                   
                                </label></div>
                            <div class="col-xs-12 col-sm-4"><label class="checkbox-inline">
                                <ion-item>
                                        <ion-label>{{ 'AIR.customs_clearence' | translate }}</ion-label>
                                        <ion-checkbox color="dark" type="checkbox" [(ngModel)]="checks[2].isChecked" name="serv_aduana" value="Corretaje de Aduanas / Customs Cleareance">
                                         </ion-checkbox>
                                </ion-item>
                                    
                                </label></div>
                            <div class="col-xs-12 col-sm-4"><label class="checkbox-inline">
                                <ion-item>
                                        <ion-label>{{ 'AIR.land_transp' | translate }}</ion-label>
                                        <ion-checkbox color="dark" type="checkbox" [(ngModel)]="checks[3].isChecked" name="serv_truck" value="Transporte Terrestre / Land Transportation">
                                        </ion-checkbox>
                                </ion-item>
                                   
                                </label></div>
                            <div class="col-xs-12 col-sm-4"><label class="checkbox-inline">
                                <ion-item>
                                        <ion-label>{{ 'AIR.temp_control' | translate }}</ion-label>
                                        <ion-checkbox color="dark" type="checkbox" [(ngModel)]="checks[4].isChecked" name="serv_temp" value="Control de Temp / Controled Temp">
                                        </ion-checkbox>
                                </ion-item>
                                   
                                </label></div>
                            <div class="col-xs-12 col-sm-4"><label class="checkbox-inline">
                                <ion-item>
                                        <ion-label>{{ 'AIR.cargo_inspection' | translate }}</ion-label>
                                        <ion-checkbox color="dark" [(ngModel)]="checks[5].isChecked" name="serv_insp" value="Inspección de Carga / Cargo Inspection">
                                        </ion-checkbox>
                                </ion-item>
                                   
                                </label></div>
          
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-xs-12 col-sm-12 col-md-12"><br>
                            <h4 style="background: #d6d6d6;padding: 9px 12px; margin-top: 30px;"><strong>{{ 'AIR.cargo_info' | translate }}</strong></h4><br>
                            <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.qty' | translate }}</label>
                                <ion-input class="form-control" required="" ngModel name="cant_cont" min="1"
                                    type="number"></ion-input>
                            </div>
                            <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.kg' | translate }}</label>
                                <ion-input class="form-control" required="" ngModel name="peso_cont" step="0.1"
                                    min="0.0" type="number"></ion-input>
                            </div>
                            <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.cubic' | translate }}</label>
                                <ion-input class="form-control" required="" ngModel name="cubic" step="0.1" min="0.0"
                                     type="number"></ion-input>
                            </div>
                            <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.incoterm' | translate }}</label>
                                <ion-select class="form-control" ngModel name="service_cont">
                                    <ion-select-option value="EXW">EXW (ex-works)</ion-select-option>
                                    <ion-select-option value="FCA">FCA (free carrier)</ion-select-option>
                                    <ion-select-option value="FAS">FAS (free alongside ship)</ion-select-option>
                                    <ion-select-option value="FOB">FOB (free on board)</ion-select-option>
                                    <ion-select-option value="CFR">CFR (cost and freight)</ion-select-option>
                                    <ion-select-option value="CIF">CIF (cost, insurance and freight)</ion-select-option>
                                    <ion-select-option value="CPT">CPT (carriage paid to)(duty paid)</ion-select-option>
                                    <ion-select-option value="CIP">CIP (carriage and insurance paid to)
                                    </ion-select-option>
                                    <ion-select-option value="DAF">DAF (delivered at frontier)</ion-select-option>
                                    <ion-select-option value="DES">DES (delivered ex ship)</ion-select-option>
                                    <ion-select-option value="DEQ">DEQ (delivered ex quay)</ion-select-option>
                                    <ion-select-option value="DDU">DDU (delivered duty unpaid)</ion-select-option>
                                    <ion-select-option value="DAT">DAT (delivered at terminal)</ion-select-option>
                                    <ion-select-option value="DAP">DAP (delivered at place)</ion-select-option>
                                </ion-select>
                            </div>
                            <div class="col-xs-12 col-sm-4"><label>{{ 'AIR.goods' | translate }}</label>
                                <ion-input class="form-control" required="" ngModel name="goods" type="text"></ion-input>
                            </div>

                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-xs-12 col-sm-12 col-md-12"><br>
                            <div><label>{{ 'AIR.spinstructions' | translate }}</label>
                                <ion-textarea rows="4" ngModel name="comentario" class="form-control"></ion-textarea>
                            </div> <br>
                            <div><label>{{ 'AIR.aditional_info' | translate }}</label>
                                <div style="color:#e41717"> {{ 'AIR.note' | translate }} </div>
                                <ion-input class="form-control" name="adjunto" id="adjunto" type="file"></ion-input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div align="center">
            <ion-button type="submit" class="primary" value="Enviar" style="width:40%;">{{ 'AIR.send' | translate }}</ion-button>
        </div>
        <br>
    </form>
</ion-content>