<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button menu="m1">

          </ion-menu-button>
      </ion-buttons>
    <ion-title>
        {{ 'HOME.title' | translate }} 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">
            {{ 'MAIN.title' | translate }} 
          </h2>
      </div>
      <div class="col-md-4 ">
          <div style="align:center; text-align:center;">
              <div class="panel-heading">
                  <h3>{{ 'MAIN.sea' | translate }} </h3>
              </div>
              <div style="align:center; text-align:center;">
                  <div><img class="profile-photo" src="../assets/img/sea.jpg"></div> <br>
                  <div>{{ 'MAIN.sea_text' | translate }}</div>
                  <div><ion-button expand="block" routerLink="/fletemar" routerDirection="forward">{{ 'MAIN.quote' | translate }}</ion-button></div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div style="align:center; text-align:center;">
              <div class="panel-heading">
                  <h3>{{ 'MAIN.air' | translate }}</h3>
              </div>
              <div style="align:center; text-align:center;">
                  <div><img class="profile-photo" src="../assets/img/air2.jpg"></div> <br>
                  <div>{{ 'MAIN.air_text' | translate }}</div>
                  <div><ion-button expand="block" routerLink="/fleteaereo" color="success">{{ 'MAIN.quote' | translate }}</ion-button></div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
           <div style="align:center; text-align:center;">
              <div class="panel-heading">
                  <h3>{{ 'MAIN.land' | translate }}</h3>
              </div>
              <div style="align:center; text-align:center;">
                  <div><img class="profile-photo" src="../assets/img/land2.jpg"></div> <br>
                  <div>{{ 'MAIN.land_text' | translate }}</div>
                  <div><ion-button expand="block" routerLink="/fletesterrestre" color="danger">{{ 'MAIN.quote' | translate }}</ion-button></div>
              </div>
          </div>
      </div>
  </div>
  </div>
</ion-content>
