<ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/fletes"></ion-back-button>
              </ion-buttons>
          <ion-title>
            {{nombre}}
          </ion-title>
        </ion-toolbar>
</ion-header>
<ion-content>
   <ion-list padding>
        <ion-item color="primary">
          <ion-button expand="block" color="primary" Text (click)="changeModule(1)">Contenedor LLeno - FCL</ion-button>
        </ion-item>
        <ion-item color="success">
          <ion-button expand="block" color="success" (click)="changeModule(2)">Carga Suelta-Mudanzas-Vehículos</ion-button>
        </ion-item>
        <ion-item color="danger">
          <ion-button expand="block" color="danger" (click)="changeModule(3)">Carga Suelta de Proyecto</ion-button>
        </ion-item>
   </ion-list>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" enctype="multipart/form-data">  
        <div id="administrador" class="container-fluid">                                      
            <div class="row-fluid">
                <div class="col-xs-12 col-sm-12 col-md-12"><br>
                    <h4 style="background: #d6d6d6;padding: 9px 12px; margin-top: 30px; text-align:center;"><strong>Solicitud de Cotización de Flete</strong></h4><br>
                     <h4 style="background: #d6d6d6;padding: 9px 12px; margin-top: 30px;"><strong>Datos de importador - exportador</strong></h4><br>
                     <input name="id_cliente" value="1" type="hidden">
                     <input name="servicio" value="container" type="hidden">
                     <input name="opcion_metodo" value="1" type="hidden">
                    <div class="col-xs-12 col-sm-4"><label>Empresa</label><input class="form-control" required="" ngModel name="empresa" type="text"></div>
                    <div class="col-xs-12 col-sm-4"><label>Contacto</label><input class="form-control" required="" ngModel name="contacto" type="text"></div>
                    <div class="col-xs-12 col-sm-4"><label>Teléfono</label><input class="form-control" ngModel name="tel" type="text" minlength="7" required=""></div>
                    <div class="col-xs-12 col-sm-4"><label>Correo</label><input class="form-control" required="" ngModel name="correo" type="email"></div>
                    <div padding>
                    <ion-list>
                      <ion-item>
                        <ion-label>País de cotizacion:</ion-label>
                      </ion-item>
                        <ion-item>
                          <ion-select placeholder="Seleccionar" class="form-control" ngModel name="pais"
                            required="required">
                            <ion-select-option value="Argentina">Argentina</ion-select-option>
                            <ion-select-option value="Bélgica">Bélgica</ion-select-option>
                            <ion-select-option value="Belice">Belice</ion-select-option>
                            <ion-select-option value="Bolivia">Bolivia</ion-select-option>
                            <ion-select-option value="Brasil">Brasil</ion-select-option>
                            <ion-select-option value="Canadá">Canadá</ion-select-option>
                            <ion-select-option value="Chile">Chile</ion-select-option>
                            <ion-select-option value="China">China</ion-select-option>
                            <ion-select-option value="Colombia">Colombia</ion-select-option>
                            <ion-select-option value="Costa Rica">Costa Rica</ion-select-option>
                            <ion-select-option value="Cuba">Cuba</ion-select-option>
                            <ion-select-option value="Dominica">Dominica</ion-select-option>
                            <ion-select-option value="Ecuador">Ecuador</ion-select-option>
                            <ion-select-option value="El Salvador">El Salvador</ion-select-option>
                            <ion-select-option value="Estados Unidos">Estados Unidos</ion-select-option>
                            <ion-select-option value="Estados Unidos">Estados Unidos</ion-select-option>
                            <ion-select-option value="Francia">Francia</ion-select-option>
                            <ion-select-option value="Guatemala">Guatemala</ion-select-option>
                            <ion-select-option value="Guyana">Guyana</ion-select-option>
                            <ion-select-option value="Haití">Haití</ion-select-option>
                            <ion-select-option value="Honduras">Honduras</ion-select-option>
                            <ion-select-option value="Italia">Italia</ion-select-option>
                            <ion-select-option value="Jamaica">Jamaica</ion-select-option>
                            <ion-select-option value="Japón">Japón</ion-select-option>
                            <ion-select-option value="México">México</ion-select-option>
                            <ion-select-option value="Nicaragua">Nicaragua</ion-select-option>
                            <ion-select-option value="Panamá">Panamá</ion-select-option>
                            <ion-select-option value="Paraguay">Paraguay</ion-select-option>
                            <ion-select-option value="Perú">Perú</ion-select-option>
                            <ion-select-option value="Puerto Rico">Puerto Rico</ion-select-option>
                            <ion-select-option value="Reino Unido">Reino Unido</ion-select-option>
                            <ion-select-option value="República Dominicana">República Dominicana</ion-select-option>
                            <ion-select-option value="Surinam">Surinam</ion-select-option>
                            <ion-select-option value="Trinidad y Tobago">Trinidad y Tobago</ion-select-option>
                            <ion-select-option value="Uruguay">Uruguay</ion-select-option>
                            <ion-select-option value="Venezuela">Venezuela</ion-select-option>
                        </ion-select>
                        </ion-item>   
                      </ion-list>
                    </div>  
               </div>
           </div>
            
           <div class="row-fluid">                                
                <div class="col-xs-12 col-sm-12 col-md-12"><br>
                   <h4 style="background: #d6d6d6;padding: 9px 12px; margin-top: 30px;"><strong>Datos de recepcion de la carga</strong></h4><br>
                    <div class="col-xs-12 col-sm-4"><label>Región de recepcion</label>
                        <ion-list>
                            <ion-item>
                              
                              <ion-select (ionChange)="checkCountry();" value="1" [(ngModel)]="reg" ngModel name="id_region_origen" okText="Okay" cancelText="Cancelar">
                                <ion-select-option *ngFor="let item of regions" value="{{item.id_region}}">{{item.region}}</ion-select-option>
                              </ion-select>
                            </ion-item>   
                        </ion-list>
                    </div>
                    <div class="col-xs-12 col-sm-4"><label>País de recepcion</label><ion-list>
                        <ion-item>
                          
                          <ion-select placeholder="Seleccionar" class="form-control" ngModel name="id_pais_origen"
                            required="required">
                            <ion-select-option *ngFor="let item of paises" value="{{item.id_pais}}">{{item.pais}}</ion-select-option>
                        </ion-select>
                        </ion-item>   
                      </ion-list></div>
                    <div class="col-xs-12 col-sm-4"><label>Lugar de recepcion</label><ion-input class="form-control" ngModel name="ciudad_orig" type="text" value=""></ion-input></div>
                    <div class="col-xs-12 col-sm-4"><label>Recepción</label>
                        <ion-list>
                            <ion-item>
                              
                              <ion-select class="form-control" ngModel name="recepcion" value="1" okText="Okay" cancelText="Cancelar">
                                <ion-select-option value="Bodega / Warehouse">Bodega</ion-select-option>
                                <ion-select-option value="Puerto / Port">Puerto </ion-select-option>
                              </ion-select>
                            </ion-item>   
                          </ion-list>
                    </div>  
                    <div class="col-xs-12 col-sm-4"><label>Fecha Salida</label><ion-item>
                       
                        <ion-datetime displayFormat="DD MM YYYY" ngModel name="fecha_salida" placeholder="Fecha Salida"></ion-datetime>
                      </ion-item></div>
                </div>
            </div>
    
            <div class="row-fluid">
                    <div class="col-xs-12 col-sm-12 col-md-12"><br>
                    <h4 style="background: #d6d6d6;padding: 9px 12px; margin-top: 30px;"><strong>Datos de destino de la carga</strong></h4><br>
                    <div class="col-xs-12 col-sm-4"><label>Región Destino</label>
                        <ion-list>
                            <ion-item>
                              
                              <ion-select (ionChange)="checkCountryDestino();" value="1" [(ngModel)]="regDestino" ngModel name="id_region_destino" okText="Okay" cancelText="Cancelar">
                                <ion-select-option *ngFor="let item of regionsDestino" value="{{item.id_region}}">{{item.region}}</ion-select-option>
                              </ion-select>
                            </ion-item>   
                        </ion-list>
                     </div>                                                                                     
                    <div class="col-xs-12 col-sm-4"><label>País Destino</label><ion-list>
                        <ion-item>
                          
                          <ion-select placeholder="Seleccionar" class="form-control" ngModel name="id_pais_dest"
                            required="required">
                            <ion-select-option *ngFor="let item of paisesDestino" value="{{item.id_pais}}">{{item.pais}}</ion-select-option>
                         </ion-select>
                        </ion-item>   
                      </ion-list></div>
                    <div class="col-xs-12 col-sm-4"><label>Lugar de Destino</label><ion-input class="form-control" required="" ngModel name="ciudad_dest" type="text"></ion-input></div> 
                    <div class="col-xs-12 col-sm-4"><label>Fecha Llegada</label><ion-item>
                  
                        <ion-datetime displayFormat="DD MM YYYY" ngModel name="fecha_llegada" placeholder="Fecha Llegada"></ion-datetime>
                      </ion-item></div>
                      
                    <div class="col-xs-12 col-sm-4"><label>Entrega</label>
                        <ion-list>
                            <ion-item>
                              
                              <ion-select class="form-control" ngModel name="entrega" okText="Okay" cancelText="Cancelar">
                                <ion-select-option value="Bodega / Warehouse">Bodega</ion-select-option>
                                <ion-select-option value="Puerto / Port">Puerto </ion-select-option>
                              </ion-select>
                            </ion-item>   
                          </ion-list>
                    </div> 
                </div>
            </div>                                         
    
            <div class="row-fluid">
              <div class="col-xs-12 col-sm-12 col-md-12"><br>
                  <h4 style="background: #d6d6d6;padding: 9px 12px; margin-top: 30px;"><strong>Otros servicios
                          logísticos</strong></h4><br>
                  <div class="col-xs-12 col-sm-4"><label class="checkbox-inline">
                      <ion-item>
                              <ion-label>Seguro</ion-label>
                              <ion-checkbox color="dark" ngModel name="serv_seguro" value="Inssurance">
                              </ion-checkbox>
                      </ion-item>
                         
                  </label></div>
                  <div class="col-xs-12 col-sm-4"><label class="checkbox-inline">
                      <ion-item>
                              <ion-label> Bodega
                                      Aduanera</ion-label>
                              <ion-checkbox color="dark" ngModel name="serv_bonded" value="Bonded Warehouse">
                                      </ion-checkbox>
                      </ion-item>
                         
                      </label></div>
                  <div class="col-xs-12 col-sm-4"><label class="checkbox-inline">
                      <ion-item>
                              <ion-label>Corretaje de Aduanas</ion-label>
                              <ion-checkbox color="dark" type="checkbox" ngModel name="serv_aduana" value="Customs Cleareance">
                               </ion-checkbox>
                      </ion-item>
                          
                      </label></div>
                  <div class="col-xs-12 col-sm-4"><label class="checkbox-inline">
                      <ion-item>
                              <ion-label>Transporte Terrestre</ion-label>
                              <ion-checkbox color="dark" type="checkbox" ngModel name="serv_truck" value="Land Transportation">
                              </ion-checkbox>
                      </ion-item>
                         
                      </label></div>
                  <div class="col-xs-12 col-sm-4"><label class="checkbox-inline">
                      <ion-item>
                              <ion-label>Control
                                      de
                                      Temp</ion-label>
                              <ion-checkbox color="dark" type="checkbox" ngModel name="serv_temp" value="Controled Temp">
                              </ion-checkbox>
                      </ion-item>
                         
                      </label></div>
                  <div class="col-xs-12 col-sm-4"><label class="checkbox-inline">
                      <ion-item>
                              <ion-label>Inspección
                                      de Carga</ion-label>
                              <ion-checkbox color="dark" ngModel name="serv_insp" value="Cargo Inspection">
                              </ion-checkbox>
                      </ion-item>
                         
                      </label></div>

              </div>
          </div>
             <div *ngIf="myFlag == 1" class="row-fluid">
                        <div class="col-xs-12 col-sm-12 col-md-12"><br>
                            <h4 style="background: #d6d6d6;padding: 9px 12px; margin-top: 30px;"><strong>Datos de la Carga</strong></h4><br>
                            <div class="col-xs-12 col-sm-4"><label>Cantidad de Contenedores</label><input class="form-control" required="" ngModel name="cant_cont" min="1" value="1" type="number"></div> 
                            <div class="col-xs-12 col-sm-4"><label>Peso (Kgs)</label><input class="form-control" required="" ngModel name="peso_cont" min="0" value="0" type="number"></div> 
                            <div class="col-xs-12 col-sm-4"><label>Tamaño</label>
                                <ion-list>
                                    <ion-item>
                                      
                                      <ion-select class="form-control" ngModel name="size_cont" value="1" okText="Okay" cancelText="Cancelar">
                                        <ion-select-option value="20">20 SD</ion-select-option> 
                                        <ion-select-option value="20">20 OT</ion-select-option>
                                        <ion-select-option value="20">20 FR</ion-select-option>
                                        <ion-select-option value="20">20 RF</ion-select-option> 
                                        <ion-select-option value="40">40 SD</ion-select-option>
                                        <ion-select-option value="40">40 HC</ion-select-option>
                                        <ion-select-option value="40">40 OT</ion-select-option> 
                                        <ion-select-option value="40">40 FR</ion-select-option>
                                        <ion-select-option value="40">40 RF</ion-select-option>
                                        <ion-select-option value="40">40 RH</ion-select-option>
                                        <ion-select-option value="45">45 HC</ion-select-option>
                                      </ion-select>
                                    </ion-item>   
                                </ion-list>        
                            </div> 
                            <div class="col-xs-12 col-sm-4"><label>Incoterm</label> 
                                <ion-list>
                                        <ion-item>
                                          
                                          <ion-select class="form-control" ngModel name="service_cont" value="0" okText="Okay" cancelText="Cancelar">
                                            <ion-select-option value="EXW">EXW (ex-works)</ion-select-option> 
                                            <ion-select-option value="FCA">FCA (free carrier)</ion-select-option>
                                            <ion-select-option value="FAS">FAS (free alongside ship)</ion-select-option>
                                            <ion-select-option value="FOB">FOB (free on board)</ion-select-option> 
                                            <ion-select-option value="CFR">CFR (cost and freight)</ion-select-option>
                                            <ion-select-option value="CIF">CIF (cost, insurance and freight)</ion-select-option>
                                            <ion-select-option value="CPT">CPT (carriage paid to)(duty paid)</ion-select-option> 
                                            <ion-select-option value="CIP">CIP (carriage and insurance paid to)</ion-select-option>
                                            <ion-select-option value="DAF">DAF (delivered at frontier)</ion-select-option>
                                            <ion-select-option value="DES">DES (delivered ex ship)</ion-select-option>
                                            <ion-select-option value="DEQ">DEQ (delivered ex quay)</ion-select-option>
                                            <ion-select-option value="DDU">DDU (delivered duty unpaid)</ion-select-option>
                                            <ion-select-option value="DAT">DAT (delivered at terminal)</ion-select-option>
                                            <ion-select-option value="DAP">DAP (delivered at place)</ion-select-option>
                                          </ion-select>
                                        </ion-item>   
                                    </ion-list>
                            </div>
                            <div class="col-xs-12 col-sm-4"><label>Tipo de mercancia</label><ion-input class="form-control" required="" ngModel name="goods" type="text"></ion-input></div>
    
                        </div>                                      
             </div>
             <div *ngIf="myFlag == 2 || myFlag == 3" class="row-fluid">
              <div class="col-xs-12 col-sm-12 col-md-12"><br>
                  <h4 style="background: #d6d6d6;padding: 9px 12px; margin-top: 30px;"><strong>Datos de la Carga</strong></h4><br>
                  <div class="col-xs-12 col-sm-4"><label>Cantidad de Bultos</label><input class="form-control" required="" ngModel name="cant_cont" min="1" value="1" type="number"></div> 
                  <div class="col-xs-12 col-sm-4"><label>Peso (Kgs)</label><input class="form-control" required="" ngModel name="peso_cont" min="0" value="0" type="number"></div> 
                  <div class="col-xs-12 col-sm-4"><label>Metros Cúbicos</label><input class="form-control" required="" ngModel name="cubic" min="0" value="0" type="number"></div></div> 
                  <div class="col-xs-12 col-sm-4"><label>Incoterm</label> 
                      <ion-list>
                              <ion-item>
                                
                                <ion-select class="form-control" ngModel name="service_cont" value="0" okText="Okay" cancelText="Cancelar">
                                  <ion-select-option value="EXW">EXW (ex-works)</ion-select-option> 
                                  <ion-select-option value="FCA">FCA (free carrier)</ion-select-option>
                                  <ion-select-option value="FAS">FAS (free alongside ship)</ion-select-option>
                                  <ion-select-option value="FOB">FOB (free on board)</ion-select-option> 
                                  <ion-select-option value="CFR">CFR (cost and freight)</ion-select-option>
                                  <ion-select-option value="CIF">CIF (cost, insurance and freight)</ion-select-option>
                                  <ion-select-option value="CPT">CPT (carriage paid to)(duty paid)</ion-select-option> 
                                  <ion-select-option value="CIP">CIP (carriage and insurance paid to)</ion-select-option>
                                  <ion-select-option value="DAF">DAF (delivered at frontier)</ion-select-option>
                                  <ion-select-option value="DES">DES (delivered ex ship)</ion-select-option>
                                  <ion-select-option value="DEQ">DEQ (delivered ex quay)</ion-select-option>
                                  <ion-select-option value="DDU">DDU (delivered duty unpaid)</ion-select-option>
                                  <ion-select-option value="DAT">DAT (delivered at terminal)</ion-select-option>
                                  <ion-select-option value="DAP">DAP (delivered at place)</ion-select-option>
                                </ion-select>
                              </ion-item>   
                          </ion-list>
                  </div>
                  <div class="col-xs-12 col-sm-4"><label>Tipo de mercancia</label><ion-input class="form-control" required="" ngModel name="goods" type="text"></ion-input></div>

              </div>                                      
             
             <div class="row-fluid">
                        <div class="col-xs-12 col-sm-12 col-md-12"><br>
                            <div><label>Instrucciones Especiales: </label><textarea rows="4" ngModel name="comentario" class="form-control"></textarea></div> <br>                                            
                            <div><label>Adjuntar información adicional: </label><div style="color:#e41717"> Nota: adjuntar listado individual de piezas o bultos con las medidas de largo, ancho y profundidad y peso de cada una. </div><input class="form-control" ngModel name="adjunto" id="adjunto" type="file"></div>
                        </div>                                            
             </div>                   
    </div>
                                        
            <br>
            <br>
            <div align="center">
              <ion-button type="submit" class="primary" value="Enviar" style="width:40%;" >Enviar</ion-button>
          </div>            <br>
          
    </form>
</ion-content>